<!DOCTYPE html>
<html>
  <head>
    <title>AppointmentSchedulerRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <%# Makes sure that the messages that devise gem generates are shown in the html responses %>
    <p class="alert"><%= alert %></p>
    <%# Makes sure that the messages that devise gem generates are shown in the html responses %>
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
